In [1]:
age=32
height=3.3
name="raman"
is_Student=True
print(age)
print(height)
print(name)
print(is_Student)

32
3.3
raman
True

In [2]:
# Multiple variables in a single line
x, y, z = 10, 20, 30

print("x:", x)
print("y:", y)
print("z:", z)

x: 10
y: 20
z: 30

In [3]:
# Dynamic typing in Python
var = 100     # Initially an integer
print("Variable is:", var, "and its type is", type(var))

var = "Python"  # Now a string
print("Variable is:", var, "and its type is", type(var))

Variable is: 100 and its type is <class 'int'>
Variable is: Python and its type is <class 'str'>

In [4]:
# Type conversion example
number_str = "123"   # String
number_int = int(number_str)  # Convert string to integer

print("Original:", number_str, "of type", type(number_str))
print("Converted:", number_int, "of type", type(number_int))

# Converting integer to float
number_float = float(number_int)
print("Float Conversion:", number_float, "of type", type(number_float))

Original: 123 of type <class 'str'>
Converted: 123 of type <class 'int'>
Float Conversion: 123.0 of type <class 'float'>

In [5]:
# Using variables in expressions
x = 5
y = 10

# Arithmetic operations
sum_result = x + y
product = x * y

print("Sum:", sum_result)
print("Product:", product)

Sum: 15
Product: 50

In [6]:
# Constants in Python (by convention)
PI = 3.14159
GRAVITY = 9.8

print("Value of PI:", PI)
print("Value of Gravity:", GRAVITY)

Value of PI: 3.14159
Value of Gravity: 9.8

In [10]:
## input from user
age=int(input("enter your age: "))
print(age,type(age))

23 <class 'int'>

In [11]:
num1=float(input("enter first number: "))
num2=float(input("enter second number: "))

sum=num1+num2;
diff=num1-num2;
product=num1*num2;
division=num1/num2;

print("sum: ",sum)
print("diff: ",diff)
print("product: ",product)
print("division: ",division)

sum:  75.0
diff:  25.0
product:  1250.0
division:  2.0