In [1]:
import array
arr=array.array('i',[1,2,3,45,6])
print(arr)

array('i', [1, 2, 3, 45, 6])

In [3]:
## random
import random
print(random.randint(1,10))
print(random.choice(['apple','banana','pineapple']))

7
pineapple

In [4]:
## file and directory access
import os
print(os.getcwd())

c:\Users\kaush\OneDrive\Desktop\Data Analyst\PYTHON\4-Module

In [5]:
os.mkdir('test_dir')

In [6]:
## High level operations on files and collection of files
import shutil
shutil.copyfile('source.txt','destination.txt')

'destination.txt'

In [7]:
## data serialisation
import json
data={'name':'kaushar','age':34}

json_str=json.dumps(data)
print(json_str)
print(type(json_str))

parsed_data=json.dumps(data)
print(parsed_data)
print(type(parsed_data))

{"name": "kaushar", "age": 34}
<class 'str'>
{"name": "kaushar", "age": 34}
<class 'str'>

In [11]:
import csv

with open('example.csv',mode='w',newline='') as file:
    writer=csv.writer(file)
    writer.writerow(['name','age'])
    writer.writerow(['alam',34])
    
with open('example.csv',mode='r') as file:
    reader=csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['alam', '34']

In [12]:
## datetime
from datetime import datetime,timedelta
now=datetime.now()
print(now)

yesterday=now-timedelta(days=1)
print(yesterday)

2024-09-06 13:02:40.642672
2024-09-05 13:02:40.642672

In [13]:
# time
import time
print(time.time())
time.sleep(2)
print(time.time())

1725608047.4799268
1725608049.4811351

In [14]:
## regular expression
import re

pattern=r'\d+'
text="there are 124 apples"
match=re.search(pattern,text)
print(match.group())

124