A function is a block of code that performs a specific task. Functions help in organizing code, reusing code, and improving readability.

In [1]:
## syntax
def function_name(parameters):
    #function body
    return expression

In [2]:
## why functions?
num=34
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [3]:
def even_or_odd(num):
    """This function finds even or odd"""
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")

In [4]:
## call this function
even_or_odd(34)

the number is even

In [5]:
## function with multiple parameters
def add(a,b):
    return a+b
result=add(3,235)
print(result)

238

In [8]:
## default parameters
def greet(name):
    print(f"hello {name} Welcome to the paradise")
greet("krish")

hello krish Welcome to the paradise

In [10]:
def greet(name="guest"):
    print(f"Hello {name} welcome to the paradise")
greet()

Hello guest welcome to the paradise

In [13]:
## variable length arguments
## positional and keywords arguments
def print_numbers(*krish):
    for number in krish:
        print(number)
print_numbers(1,2,3,4,6,7,6,"alam")

1
2
3
4
6
7
6
alam

In [14]:
## positional arguments
def print_numbers(*args):
    for number in args:
        print(number)

In [15]:
print_numbers(1,65,5,6,79,55,"alam")

1
65
5
6
79
55
alam

In [17]:
### Keywords Arguments

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")
        
print_details(name="Krish",age="32",country="India")

name:Krish
age:32
country:India

In [18]:
def print_details(*args,**kwargs):
    for val in args:
        print(f" Positional arument :{val}")
    
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [19]:

print_details(1,2,3,4,"Krish",name="Krish",age="32",country="India")

 Positional arument :1
 Positional arument :2
 Positional arument :3
 Positional arument :4
 Positional arument :Krish
name:Krish
age:32
country:India

In [20]:

### Return statements
def multiply(a,b):
    return a*b

multiply(2,3)

6

In [21]:
### Return multiple parameters
def multiply(a,b):
    return a*b,a

multiply(2,3)

(6, 2)

In [22]:
import numpy as np
np.array([32,4,24,3])

array([32,  4, 24,  3])